<!DOCTYPE html>
<html>
<head>
<script type="text/javascript">
<!-->
var image1=new Image()
image1.src="theupgrade/com_hourx5001.jpeg"   
var image2=new Image()
image2.src="theupgrade/com_hourx5002.jpeg"
var image3=new Image()
image3.src="theupgrade/com_hourx5003.jpeg"
var image4=new Image()
image4.src="theupgrade/com_hourx5004.jpeg"
var image5=new Image()
image5.src="theupgrade/com_hourx5005.jpeg"
var image6=new Image()
image6.src="theupgrade/com_hourx5006.jpeg"
var image7=new Image()
image7.src="theupgrade/com_hourx5007.jpeg"
var image8=new Image()
image8.src="theupgrade/com_hourx5008.jpeg"
var image9=new Image()
image9.src="theupgrade/com_hourx5009.jpeg"
var image10=new Image()
image10.src="theupgrade/com_hourx5010.jpeg"
var image11=new Image()
image11.src="theupgrade/com_hourx5011.jpeg"
var image12=new Image()
image12.src="theupgrade/com_hourx5012.jpeg"
var image13=new Image()
image13.src="theupgrade/com_hourx5013.jpeg"
var image14=new Image()
image14.src="theupgrade/com_hourx5014.jpeg"
var image15=new Image()
image15.src="theupgrade/com_hourx5015.jpeg"
var image16=new Image()
image16.src="theupgrade/com_hourx5016.jpeg"
var image17=new Image()
image17.src="theupgrade/com_hourx5017.jpeg"
var image18=new Image()
image18.src="theupgrade/com_hourx5018.jpeg"
var image19=new Image()
image19.src="theupgrade/com_hourx5019.jpeg"
var image20=new Image()
image20.src="theupgrade/com_hourx5020.jpeg"
var image21=new Image()
image21.src="theupgrade/com_hourx5021.jpeg"
var image22=new Image()
image22.src="theupgrade/com_hourx5022.jpeg"
var image23=new Image()
image23.src="theupgrade/com_hourx5023.jpeg"
var image24=new Image()
image24.src="theupgrade/com_hourx5024.jpeg"
var image25=new Image()
image25.src="theupgrade/com_hourx5025.jpeg"
var image26=new Image()
image26.src="theupgrade/com_hourx5026.jpeg"
var image27=new Image()
image27.src="theupgrade/com_hourx5027.jpeg"
var image28=new Image()
image28.src="theupgrade/com_hourx5028.jpeg"
var image29=new Image()
image29.src="theupgrade/com_hourx5029.jpeg"
var image30=new Image()
image30.src="theupgrade/com_hourx5030.jpeg"
var image31=new Image()
image31.src="theupgrade/com_hourx5031.jpeg"
var image32=new Image()
image32.src="theupgrade/com_hourx5032.jpeg"
var image33=new Image()
image33.src="theupgrade/com_hourx5033.jpeg"
var image34=new Image()
image34.src="theupgrade/com_hourx5034.jpeg"
var image35=new Image()
image35.src="theupgrade/com_hourx5035.jpeg"
var image36=new Image()
image36.src="theupgrade/com_hourx5036.jpeg"
var image37=new Image()
image37.src="theupgrade/com_hourx5037.jpeg"
var image38=new Image()
image38.src="theupgrade/com_hourx5038.jpeg"
var image39=new Image()
image39.src="theupgrade/com_hourx5039.jpeg"
var image40=new Image()
image40.src="theupgrade/com_hourx5040.jpeg"
var image41=new Image()
image41.src="theupgrade/com_hourx5041.jpeg"
var image42=new Image()
image42.src="theupgrade/com_hourx5042.jpeg"
var image43=new Image()
image43.src="theupgrade/com_hourx5043.jpeg"
var image44=new Image()
image44.src="theupgrade/com_hourx5044.jpeg"
var image45=new Image()
image45.src="theupgrade/com_hourx5045.jpeg"
var image46=new Image()
image46.src="theupgrade/com_hourx5046.jpeg"
var image47=new Image()
image47.src="theupgrade/com_hourx5047.jpeg"
var image48=new Image()
image48.src="theupgrade/com_hourx5048.jpeg"
var image49=new Image()
image49.src="theupgrade/com_hourx5049.jpeg"
var image50=new Image()
image50.src="theupgrade/com_hourx5050.jpeg"
var image51=new Image()
image51.src="theupgrade/com_hourx5051.jpeg"
var image52=new Image()
image52.src="theupgrade/com_hourx5052.jpeg"
var image53=new Image()
image53.src="theupgrade/com_hourx5053.jpeg"
var image54=new Image()
image54.src="theupgrade/com_hourx5054.jpeg"
var image55=new Image()
image55.src="theupgrade/com_hourx5055.jpeg"
var image56=new Image()
image56.src="theupgrade/com_hourx5056.jpeg"
var image57=new Image()
image57.src="theupgrade/com_hourx5057.jpeg"
var image58=new Image()
image58.src="theupgrade/com_hourx5058.jpeg"
var image59=new Image()
image59.src="theupgrade/com_hourx5059.jpeg"
var image60=new Image()
image60.src="theupgrade/com_hourx5060.jpeg"
var image61=new Image()
image61.src="theupgrade/com_hourx5061.jpeg"
var image62=new Image()
image62.src="theupgrade/com_hourx5062.jpeg"
var image63=new Image()
image63.src="theupgrade/com_hourx5063.jpeg"
var image64=new Image()
image64.src="theupgrade/com_hourx5064.jpeg"
var image65=new Image()
image65.src="theupgrade/com_hourx5065.jpeg"
var image66=new Image()
image66.src="theupgrade/com_hourx5066.jpeg"
var image67=new Image()
image67.src="theupgrade/com_hourx5067.jpeg"
var image68=new Image()
image68.src="theupgrade/com_hourx5068.jpeg"
var image69=new Image()
image69.src="theupgrade/com_hourx5069.jpeg"
var image70=new Image()
image70.src="theupgrade/com_hourx5070.jpeg"
var image71=new Image()
image71.src="theupgrade/com_hourx5071.jpeg"
var image72=new Image()
image72.src="theupgrade/com_hourx5072.jpeg"
var image73=new Image()
image73.src="theupgrade/com_hourx5073.jpeg"
var image74=new Image()
image74.src="theupgrade/com_hourx5074.jpeg"
var image75=new Image()
image75.src="theupgrade/com_hourx5075.jpeg"
var image76=new Image()
image76.src="theupgrade/com_hourx5076.jpeg"
var image77=new Image()
image77.src="theupgrade/com_hourx5077.jpeg"
var image78=new Image()
image78.src="theupgrade/com_hourx5078.jpeg"
var image79=new Image()
image79.src="theupgrade/com_hourx5079.jpeg"
var image80=new Image()
image80.src="theupgrade/com_hourx5080.jpeg"
var image81=new Image()
image81.src="theupgrade/com_hourx5081.jpeg"
var image82=new Image()
image82.src="theupgrade/com_hourx5082.jpeg"
var image83=new Image()
image83.src="theupgrade/com_hourx5083.jpeg"
var image84=new Image()
image84.src="theupgrade/com_hourx5084.jpeg"
var image85=new Image()
image85.src="theupgrade/com_hourx5085.jpeg"
var image86=new Image()
image86.src="theupgrade/com_hourx5086.jpeg"
var image87=new Image()
image87.src="theupgrade/com_hourx5087.jpeg"
var image88=new Image()
image88.src="theupgrade/com_hourx5088.jpeg"
var image89=new Image()
image89.src="theupgrade/com_hourx5089.jpeg"
var image90=new Image()
image90.src="theupgrade/com_hourx5090.jpeg"
var image91=new Image()
image91.src="theupgrade/com_hourx5091.jpeg"
var image92=new Image()
image92.src="theupgrade/com_hourx5092.jpeg"
var image93=new Image()
image93.src="theupgrade/com_hourx5093.jpeg"
var image94=new Image()
image94.src="theupgrade/com_hourx5094.jpeg"
var image95=new Image()
image95.src="theupgrade/com_hourx5095.jpeg"
var image96=new Image()
image96.src="theupgrade/com_hourx5096.jpeg"
var image97=new Image()
image97.src="theupgrade/com_hourx5097.jpeg"
var image98=new Image()
image98.src="theupgrade/com_hourx5098.jpeg"
var image99=new Image()
image99.src="theupgrade/com_hourx5099.jpeg"
var image100=new Image()
image100.src="theupgrade/com_hourx5100.jpeg"
var image101=new Image()
image101.src="theupgrade/com_hourx5101.jpeg"
var image102=new Image()
image102.src="theupgrade/com_hourx5102.jpeg"
var image103=new Image()
image103.src="theupgrade/com_hourx5103.jpeg"
var image104=new Image()
image104.src="theupgrade/com_hourx5104.jpeg"
var image105=new Image()
image105.src="theupgrade/com_hourx5105.jpeg"
var image106=new Image()
image106.src="theupgrade/com_hourx5106.jpeg"
var image107=new Image()
image107.src="theupgrade/com_hourx5107.jpeg"
var image108=new Image()
image108.src="theupgrade/com_hourx5108.jpeg"
var image109=new Image()
image109.src="theupgrade/com_hourx5109.jpeg"
var image110=new Image()
image110.src="theupgrade/com_hourx5110.jpeg"
var image111=new Image()
image111.src="theupgrade/com_hourx5111.jpeg"
var image112=new Image()
image112.src="theupgrade/com_hourx5112.jpeg"
var image113=new Image()
image113.src="theupgrade/com_hourx5113.jpeg"
var image114=new Image()
image114.src="theupgrade/com_hourx5114.jpeg"
var image115=new Image()
image115.src="theupgrade/com_hourx5115.jpeg"
var image116=new Image()
image116.src="theupgrade/com_hourx5116.jpeg"
var image117=new Image()
image117.src="theupgrade/com_hourx5117.jpeg"
var image118=new Image()
image118.src="theupgrade/com_hourx5118.jpeg"
var image119=new Image()
image119.src="theupgrade/com_hourx5119.jpeg"
//-->
</script>
</head>
<body>
<img src="boxingring.png" name="slide" width="1200" height="600">
<script type="text/javascript">
<!--
var step=1
function slideit(){
document.images.slide.src=eval("image"+step+".src")
if(step<119)
step++
else
step=1
setTimeout("slideit()",1500)
}
slideit()
//-->
</script>
</body>
</html>

