<!DOCTYPE html>
<html>
<head>
<script type="text/javascript">
<!-->
var image1=new Image()
image1.src="theupgrade/GSM5001.jpeg"   
var image2=new Image()
image2.src="theupgrade/GSM5002.jpeg"
var image3=new Image()
image3.src="theupgrade/GSM5003.jpeg"
var image4=new Image()
image4.src="theupgrade/GSM5004.jpeg"
var image5=new Image()
image5.src="theupgrade/GSM5005.jpeg"
var image6=new Image()
image6.src="theupgrade/GSM5006.jpeg"
var image7=new Image()
image7.src="theupgrade/GSM5007.jpeg"
var image8=new Image()
image8.src="theupgrade/GSM5008.jpeg"
var image9=new Image()
image9.src="theupgrade/GSM5009.jpeg"
var image10=new Image()
image10.src="theupgrade/GSM5010.jpeg"
var image11=new Image()
image11.src="theupgrade/GSM5011.jpeg"
var image12=new Image()
image12.src="theupgrade/GSM5012.jpeg"
var image13=new Image()
image13.src="theupgrade/GSM5013.jpeg"
var image14=new Image()
image14.src="theupgrade/GSM5014.jpeg"
var image15=new Image()
image15.src="theupgrade/GSM5015.jpeg"
var image16=new Image()
image16.src="theupgrade/GSM5016.jpeg"
var image17=new Image()
image17.src="theupgrade/GSM5017.jpeg"
var image18=new Image()
image18.src="theupgrade/GSM5018.jpeg"
var image19=new Image()
image19.src="theupgrade/GSM5019.jpeg"
var image20=new Image()
image20.src="theupgrade/GSM5020.jpeg"
var image21=new Image()
image21.src="theupgrade/GSM5021.jpeg"
var image22=new Image()
image22.src="theupgrade/GSM5022.jpeg"
var image23=new Image()
image23.src="theupgrade/GSM5023.jpeg"
var image24=new Image()
image24.src="theupgrade/GSM5024.jpeg"
var image25=new Image()
image25.src="theupgrade/GSM5025.jpeg"
var image26=new Image()
image26.src="theupgrade/GSM5026.jpeg"
var image27=new Image()
image27.src="theupgrade/GSM5027.jpeg"
var image28=new Image()
image28.src="theupgrade/GSM5028.jpeg"
var image29=new Image()
image29.src="theupgrade/GSM5029.jpeg"
var image30=new Image()
image30.src="theupgrade/GSM5030.jpeg"
var image31=new Image()
image31.src="theupgrade/GSM5031.jpeg"
var image32=new Image()
image32.src="theupgrade/GSM5032.jpeg"
var image33=new Image()
image33.src="theupgrade/GSM5033.jpeg"
var image34=new Image()
image34.src="theupgrade/GSM5034.jpeg"
var image35=new Image()
image35.src="theupgrade/GSM5035.jpeg"
var image36=new Image()
image36.src="theupgrade/GSM5036.jpeg"
var image37=new Image()
image37.src="theupgrade/GSM5037.jpeg"
var image38=new Image()
image38.src="theupgrade/GSM5038.jpeg"
var image39=new Image()
image39.src="theupgrade/GSM5039.jpeg"
var image40=new Image()
image40.src="theupgrade/GSM5040.jpeg"
var image41=new Image()
image41.src="theupgrade/GSM5041.jpeg"
var image42=new Image()
image42.src="theupgrade/GSM5042.jpeg"
var image43=new Image()
image43.src="theupgrade/GSM5043.jpeg"
var image44=new Image()
image44.src="theupgrade/GSM5044.jpeg"
var image45=new Image()
image45.src="theupgrade/GSM5045.jpeg"
var image46=new Image()
image46.src="theupgrade/GSM5046.jpeg"
var image47=new Image()
image47.src="theupgrade/GSM5047.jpeg"
var image48=new Image()
image48.src="theupgrade/GSM5048.jpeg"
var image49=new Image()
image49.src="theupgrade/GSM5049.jpeg"
var image50=new Image()
image50.src="theupgrade/GSM5050.jpeg"
var image51=new Image()
image51.src="theupgrade/GSM5051.jpeg"
var image52=new Image()
image52.src="theupgrade/GSM5052.jpeg"
var image53=new Image()
image53.src="theupgrade/GSM5053.jpeg"
var image54=new Image()
image54.src="theupgrade/GSM5054.jpeg"
var image55=new Image()
image55.src="theupgrade/GSM5055.jpeg"
var image56=new Image()
image56.src="theupgrade/GSM5056.jpeg"
var image57=new Image()
image57.src="theupgrade/GSM5057.jpeg"
var image58=new Image()
image58.src="theupgrade/GSM5058.jpeg"
var image59=new Image()
image59.src="theupgrade/GSM5059.jpeg"
var image60=new Image()
image60.src="theupgrade/GSM5060.jpeg"
var image61=new Image()
image61.src="theupgrade/GSM5061.jpeg"
var image62=new Image()
image62.src="theupgrade/GSM5062.jpeg"
var image63=new Image()
image63.src="theupgrade/GSM5063.jpeg"
var image64=new Image()
image64.src="theupgrade/GSM5064.jpeg"
var image65=new Image()
image65.src="theupgrade/GSM5065.jpeg"
var image66=new Image()
image66.src="theupgrade/GSM5066.jpeg"
var image67=new Image()
image67.src="theupgrade/GSM5067.jpeg"
var image68=new Image()
image68.src="theupgrade/GSM5068.jpeg"
var image69=new Image()
image69.src="theupgrade/GSM5069.jpeg"
var image70=new Image()
image70.src="theupgrade/GSM5070.jpeg"
var image71=new Image()
image71.src="theupgrade/GSM5071.jpeg"
var image72=new Image()
image72.src="theupgrade/GSM5072.jpeg"
var image73=new Image()
image73.src="theupgrade/GSM5073.jpeg"
var image74=new Image()
image74.src="theupgrade/GSM5074.jpeg"
var image75=new Image()
image75.src="theupgrade/GSM5075.jpeg"
var image76=new Image()
image76.src="theupgrade/GSM5076.jpeg"
var image77=new Image()
image77.src="theupgrade/GSM5077.jpeg"
var image78=new Image()
image78.src="theupgrade/GSM5078.jpeg"
var image79=new Image()
image79.src="theupgrade/GSM5079.jpeg"
var image80=new Image()
image80.src="theupgrade/GSM5080.jpeg"
var image81=new Image()
image81.src="theupgrade/GSM5081.jpeg"
var image82=new Image()
image82.src="theupgrade/GSM5082.jpeg"
var image83=new Image()
image83.src="theupgrade/GSM5083.jpeg"
var image84=new Image()
image84.src="theupgrade/GSM5084.jpeg"
var image85=new Image()
image85.src="theupgrade/GSM5085.jpeg"
var image86=new Image()
image86.src="theupgrade/GSM5086.jpeg"
var image87=new Image()
image87.src="theupgrade/GSM5087.jpeg"
var image88=new Image()
image88.src="theupgrade/GSM5088.jpeg"
var image89=new Image()
image89.src="theupgrade/GSM5089.jpeg"
var image90=new Image()
image90.src="theupgrade/GSM5090.jpeg"
var image91=new Image()
image91.src="theupgrade/GSM5091.jpeg"
var image92=new Image()
image92.src="theupgrade/GSM5092.jpeg"
var image93=new Image()
image93.src="theupgrade/GSM5093.jpeg"
var image94=new Image()
image94.src="theupgrade/GSM5094.jpeg"
var image95=new Image()
image95.src="theupgrade/GSM5095.jpeg"
var image96=new Image()
image96.src="theupgrade/GSM5096.jpeg"
var image97=new Image()
image97.src="theupgrade/GSM5097.jpeg"
var image98=new Image()
image98.src="theupgrade/GSM5098.jpeg"
var image99=new Image()
image99.src="theupgrade/GSM5099.jpeg"
var image100=new Image()
image100.src="theupgrade/GSM5100.jpeg"
var image101=new Image()
image101.src="theupgrade/GSM5101.jpeg"
var image102=new Image()
image102.src="theupgrade/GSM5102.jpeg"
var image103=new Image()
image103.src="theupgrade/GSM5103.jpeg"
var image104=new Image()
image104.src="theupgrade/GSM5104.jpeg"
var image105=new Image()
image105.src="theupgrade/GSM5105.jpeg"
var image106=new Image()
image106.src="theupgrade/GSM5106.jpeg"
var image107=new Image()
image107.src="theupgrade/GSM5107.jpeg"
var image108=new Image()
image108.src="theupgrade/GSM5108.jpeg"
var image109=new Image()
image109.src="theupgrade/GSM5109.jpeg"
var image110=new Image()
image110.src="theupgrade/GSM5110.jpeg"
var image111=new Image()
image111.src="theupgrade/GSM5111.jpeg"
var image112=new Image()
image112.src="theupgrade/GSM5112.jpeg"
var image113=new Image()
image113.src="theupgrade/GSM5113.jpeg"
var image114=new Image()
image114.src="theupgrade/GSM5114.jpeg"
var image115=new Image()
image115.src="theupgrade/GSM5115.jpeg"
var image116=new Image()
image116.src="theupgrade/GSM5116.jpeg"
var image117=new Image()
image117.src="theupgrade/GSM5117.jpeg"
var image118=new Image()
image118.src="theupgrade/GSM5118.jpeg"
var image119=new Image()
image119.src="theupgrade/GSM5119.jpeg"
//-->
</script>
</head>
<body>
<img src="boxingring.png" name="slide" width="1200" height="600">
<script type="text/javascript">
<!--
var step=1
function slideit(){
document.images.slide.src=eval("image"+step+".src")
if(step<119)
step++
else
step=1
setTimeout("slideit()",1500)
}
slideit()
//-->
</script>
</body>
</html>

